@font-face {
    font-family: Y2K;
    src: url(../CSS/Assets/Y2K.ttf);
}

@font-face {
    font-family: NunitoReg;
    src: url(../CSS/Assets/Nunito-Regular.ttf);
}

/*UNIVERSAL*/
* {
    margin: 0px 0px;
    padding: 0px 0px;
}

header {
    padding: 20vh;
}

main {
    background-color: rgb(255, 255, 255);
    margin-top: 2vh;
}

#logo {
    width: 50%;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu ul {
    list-style-type: none;
    padding: 0;
    top: 15vh;
    position: relative;
    text-align: center;
}

.menu li {
    display: inline-block;
}

.menu a {
    padding: 2vw;
    text-decoration: none;
    color: black;
    font-family: Y2K;
    font-size: 1.5rem;
    transition: 0.05s;
}
/*UNIVERSAL*/

/*INDEX*/
.about-title {
    color: black;
    font-family: Y2K;
    font-size: 2.5rem;
    margin-top: 5%;
}

.about-para {
    color: black;
    font-family: NunitoReg;
    padding: 2% 0%;
    font-size: 1.5rem;
}
/*INDEX*/

/*DIGITAL GALLERY*/
.page {
    position: absolute;
}

.gallery-para {
    color: black;
    font-family: NunitoReg;
    font-size: 1rem;
    margin-top: 5vh;
    width: 40vw;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 5%;
}

.whisper-cont,
.heroic-cont {
    width: 20vw;
    height: 58vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-right: 3vw;
}

.maverick-cont {
    width: 30vw;
    height: 44vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#whisper,
#heroic {
    width: 100%;
    height: 100%;
}

#maverick {
    width: 100%;
    height: 100%;
}

.whisper-capt,
.heroic-capt,
.maverick-capt {
    color: black;
    font-family: NunitoReg;
    font-size: 1rem;
    display: flex;
    margin-top: 3%;
}
/*DIGITAL GALLERY*/

/*PROJECTS*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.grid-item p {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}
/*PROJECTS*/

/*CONTACT*/
.contact-title {
    color: black;
    font-family: Y2K;
    font-size: 1.5rem;
    margin-bottom: 1%;
    margin-top: 10vh;
}

.contact-para {
    color: black;
    font-family: NunitoReg;
    font-size: 1rem;
}

/*CONTACT*/