/*FONTS*/
@font-face {
    font-family: Y2K;
    src: url(../CSS/Assets/Y2K.ttf);
}

@font-face {
    font-family: NunitoReg;
    src: url(../CSS/Assets/Nunito-Regular.ttf);
}

@font-face {
    font-family: NunitoIt;
    src: url(../CSS/Assets/Nunito-Italic.ttf);
}

@font-face {
    font-family: Syne;
    src: url(../CSS/Assets/Syne-Medium.ttf);
}

@font-face {
    font-family: Sandey;
    src: url(../CSS/Assets/SandeyMolse.ttf);
}

/*FONTS*/

/*UNIVERSAL*/
* {
    margin: 0px 0px;
    padding: 0px 0px;
}

header {
    padding: 5% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {
    header {
        display: flex;
        padding: 5% 10%;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }
}

main {
    padding: 0% 10%;
}

@media (max-width: 600px) {
main {
    padding: 0% 10%;
}
}

#logo {
    display: flex;
    align-content: flex-start;
    max-width: 200px;
    min-width: 150px;
    height: auto;
}

@media (max-width: 600px) {
    #logo {
        display: block;
        margin: auto;
        min-width: 150px;
        max-width: 200px;
        height: auto;
    }
}

.footer {
    position: relative;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.footer a {
    color: rgb(167, 179, 255);
    text-shadow: -5px 5px 10px rgb(0, 0, 0);
    font-family: Sandey;
    font-size: 1.5rem;
    transition: 0.2s;
    text-decoration: none;
}

.footer a:hover {
    text-shadow: 0px 0px 6px rgb(167, 179, 255);
}

.footergrid-body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.footergrid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 600px) {
    .footergrid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.footergrid-item {
    display: flex;
    align-items: center; 
    flex-wrap: wrap;  
    padding: 10px 10px;
}

.footergrid-item a {
    text-decoration: none;
    display: flex; 
    align-items: center;
}

.footergrid-item img { 
    flex: 0 0 auto;
    max-width: 70px; 
    height: auto;
    border-radius: 30px;
}

@media (max-width: 600px) {
    .footergrid-item img {
        flex: 0 0 auto; 
        max-width: 70px; 
        height: auto;
        border-radius: 30px;
    }
}

.contact-container {
    background-color: rgb(167, 179, 255);
    border-radius: 50px; 
    padding: 10px; 
    display: flex;
    justify-content: flex-start; 
    max-width: fit-content; 
    max-height: 10%;
    box-shadow: 0 0px 10px rgb(167, 179, 255);
}

@media (max-width: 600px) {
.contact-container {
    background-color: rgb(167, 179, 255);
    border-radius: 50px; 
    padding: 10px; 
    display: flex;
    justify-content: space-between; 
    max-width: fit-content; 
    box-shadow: 0 0px 10px rgb(167, 179, 255);
}
}

.contact-images {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

.contact-images li {
    padding: 0px 8px;
    background-color: rgb(167, 179, 255);
    
}

.contact-images img {
    width: 40px;
    border-radius: 10px;
    display: block;
    transition: 0.2s;
}

@media (max-width: 600px) {
    .contact-images img {
        width: 40px;
    }

    .contact-images li {
        padding: 0px 8px;
    }
}

body {
    background-color: rgb(7, 7, 7);
    background-size: cover;
    background-repeat: repeat;
}

@media (max-width: 600px) {
    body {
    background-color: rgb(7, 7, 7);
    background-size: contain;
    background-repeat: repeat;
    }
}

.h2-style {
    font-family: Sandey;
    color: rgb(106, 143, 245);
    font-size: 2rem;
}
/*UNIVERSAL*/

/*INDEX*/
.index-body {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.index-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 90%;
    margin: 0 10%;
    text-align: center;
    align-items: center;
    gap: 5vw;
}

@media (max-width: 600px) {
    .index-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        gap: 3vh;
    }
}

#interactive-gif {
  width: 300px;  /* Set your fixed width */
  height: auto; /* Set your fixed height */
  display: block;
}

.index-item {
    text-align: center;
    position: relative;
}

.index-item a {
    text-decoration: none;
}

.index-item img {
    max-width: 60%;
    min-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .index-item img {
        max-width: 50%;
        min-width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

.index-item p {
    position: absolute;
    margin-bottom: 20px;
    top: 50%;
    left: 50%;
    color: rgb(106, 143, 245);
    font-family: Sandey;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    text-shadow: -5px 5px 10px rgb(0, 0, 0);
    transition: 0.3s;
}

.index-item :hover {
    text-shadow: 0px 0px 6px rgb(96, 113, 228);
}
/*INDEX*/

/*DIGITALART*/
.park-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vh;
    margin-top: 3vh;
}

@media (max-width: 600px) {
    .park-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5vh;
        margin-top: 3vh;
    }
}

.key-container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .key-container {
        display: block;
    }
}

.key-text {
    display: inline-block;
    text-align: left;
    width: 60%;
    vertical-align: top;
    color: white;
    font-family: Sandey;
    font-size: 1.5rem;
    padding: 6vh 50px;
}

@media (max-width: 600px) {
    .key-text {
        padding: 5% 0%;
        display: block;
        width: 100%;
        padding: 5% 0%;
    }
}

.art-video {
    padding: 3% 0%;
    height: auto;
    min-width: 40%;
    max-width: 40%;
    display: inline-block;
}

.art-feature {
    padding: 10% 0%;
    height: auto;
    min-width: 40%;
    max-width: 40%;
    display: inline-block;
}

@media (max-width: 600px) {
    .art-feature {
        padding: 10% 0%;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .art-video {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

.park-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
}

.park-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
/*DIGITALART*/

/*GAMEWORK*/
.landing-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.landing-top {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 50%;
}

@media (max-width: 600px) {
    .landing-top {
        display: block;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 90%;
        margin-bottom: 2vh;
    }
}

.grid-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5vh;
    width: 70%;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 5vw;
        width: 90%;
    }
}

.grid-item {
    display: flex;
    align-items: center; 
    flex-wrap: nowrap; 
    gap: 20px; 
    transition: 0.2s;
    padding: 12px 18px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(64, 64, 64);
}

.grid-item a {
    text-decoration: none;
    display: flex; 
    align-items: center; 
    gap: 20px; 
}

.grid-item:hover {
    box-shadow: 0px 0px 10px rgb(96, 113, 228);
}

.grid-item img { 
    max-width: 150px; 
    height: auto;
    border-radius: 30%;
}

@media (max-width: 600px) {
    .grid-item img {
        flex: 0 0 auto; 
        max-width: 100px; 
        height: auto;
        border-radius: 30px;
    }
}

.grid-text {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.grid-item h3 {
    margin: 0px;
    color: rgb(255, 255, 255);
    font-family: Sandey;
    font-size: 1.2rem;
}

.grid-item p {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-family: Sandey;
    font-size: 1rem;
}
/*GAMEWORK*/

/*PHANTOM MATERNAL, DEPTH, KINGS MEADOW*/

.exp-container {
    display: flex;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    margin-bottom: 3vh;
    margin-top: 2vh;
    gap: 5%;
}

@media (max-width: 600px) {
    .exp-container {
        display: block;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        align-items: flex-start;
    }
}

.container-left {
    width: 55%;
}

@media (max-width: 600px) {
    .container-left {
        width: 100%;
    }
}

.container-right {
    width: 40%;
}

@media (max-width: 600px) {
    .container-right {
        width: 100%;
        margin-top: 5%;
    }
}

.para-container {
    width: 100%;
}

.para-container h1 {
    color: rgb(255, 255, 255);
    font-family: Sandey;
    font-size: 2rem;
    margin-bottom: 2vh;
}

.para-container h2 {
    color: rgb(255, 255, 255);
    font-family: Sandey;
    font-size: 1.1rem;
    margin-bottom: 2vh;
}

.para-container p {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 1rem;
    margin-bottom: 2vh;
}

.iframe-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5% 0%;
}

.iframe-container iframe {
    width: 560px;
    height: 315px;
    border-radius: 30px;
    overflow: hidden;
}

.exp-container-end {
    display: flex;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
}

@media (max-width: 600px) {
    .exp-container-end {
        display: block;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        align-items: flex-start;
    }
}

.end-left {
    display: inline-block;
    width: 50%;
}

@media (max-width: 600px) {
    .end-left {
        width: 100%;
    }
}

.end-right {
    display: block;
    align-items: flex-start;
    margin-top: 1vh;
}

@media (max-width: 600px) {
    .end-right {
        width: 100%;
        margin-top: 5%;
    }
}

.end-right h2 {
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 1.1rem;
    margin-bottom: 1vh;
}

.end-left ul {
    padding-left: 20px;
}

.end-left li {
    padding: 1% 0%;
}

.end-left li span {
    position: relative;
    left: -3px;
}

.end-right p {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 1rem;
    margin-bottom: 1vh;
}

.skills-container {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(64, 64, 64);
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.skills-container:hover {
    box-shadow: 0px 0px 10px rgb(96, 113, 228);
}

/*PHANTOM MATERNAL, DEPTH, KINGS MEADOW*/

/*MARKETING*/
.sm-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .skills-sm {
    display: flex;
    flex-direction: column;
    list-style: inside;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(96, 113, 228);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skills-sm h2{
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.skills-sm li, span {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 1rem;
    margin-bottom: 1vh;  
}
/*MARKETING*/