/*FONTS*/
@font-face {
    font-family: Y2K;
    src: url(../CSS/Assets/Y2K.ttf);
}

@font-face {
    font-family: NunitoReg;
    src: url(../CSS/Assets/Nunito-Regular.ttf);
}

@font-face {
    font-family: NunitoIt;
    src: url(../CSS/Assets/Nunito-Italic.ttf);
}

@font-face {
    font-family: Syne;
    src: url(../CSS/Assets/Syne-Medium.ttf);
}

/*FONTS*/

/*UNIVERSAL*/
* {
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: rgb(0, 0, 0);
}

header {
    padding: 10vh;
}

@media (max-width: 600px) {
    header {
        padding: 10vh;
    }
}

main {
    padding: 5% 7%;
}

#logo {
    display: block;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    height: auto;
}

@media (max-width: 600px) {
    #logo {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 80%;
        height: auto;
    }
}

.footer {
    position: relative;
    text-align: center;
    margin-top: 10vh;
}

.footer a {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 1rem;
    transition: 0.2s;
    text-decoration: none;
}

.footer a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

/*UNIVERSAL*/

/*INDEX*/
.index-body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.index-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
    gap: 5vh;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 600px) {
    .index-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
}

.index-item {
    text-align: center;
}

.index-item a {
    text-decoration: none;
}

.index-item img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: 0.2s;
    border-radius: 50%;
}

@media (max-width: 600px) {
    .index-item img {
        max-width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
        transition: 0.2s;
        border-radius: 50%;
    }
}

.index-item p {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 0.9rem;
}

/*INDEX*/

/*DIGITALART*/
.park-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    margin-top: 3vh;
}

@media (max-width: 600px) {
    .park-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
        margin-top: 3vh;
    }
}

.park-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.park-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.park-item p {
    margin-top: 5%;
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 0.9rem;
    display: inline-block;
}

.park-item a {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

/*DIGITALART*/

/*GAMEWORK*/
.landing-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
}

.landing-top {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    margin-bottom: 5vh;
}

@media (max-width: 600px) {
    .landing-top {
        display: block;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 90%;
        margin-bottom: 5vh;
    }
}

.landing-top p {
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 0.9rem;
    padding-top: 5%;
}

.landing-top a {
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 0.9rem;
    transition: 0.1s;
}

.landing-top a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.landing-images {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.landing-images li {
    margin-right: 50px;
}

.landing-images img {
    width: 50px;
    border-radius: 10px;
    transition: 0.2s;
}

@media (max-width: 600px) {
    .landing-images img {
        width: 40px;
    }
}

@media (max-width: 600px) {
    .landing-images li {
        margin-right: 30px;
    }
}

.landing-images img:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.grid-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5vw;
    width: 70%;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 5vw;
        width: 90%;
    }
}

.grid-item {
    display: flex;
    align-items: center; 
    flex-wrap: wrap; 
    gap: 20px; 
    text-align: left;
}

.grid-item a {
    text-decoration: none;
}

.grid-item img:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.grid-item img {
    flex: 0 0 auto; 
    max-width: 10vw; 
    height: auto;
    transition: 0.2s;
    border-radius: 50px;
}

@media (max-width: 600px) {
    .grid-item img {
        flex: 0 0 auto; 
        max-width: 30vw; 
        height: auto;
        transition: 0.2s;
        border-radius: 30px;
    }
}

.grid-text {
    flex: 1;
}

.grid-item h3 {
    margin: 0px;
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 1rem;
}

.grid-item p {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 0.9rem;
}
/*GAMEWORK*/

/*PHANTOM MATERNAL, DEPTH, KINGS MEADOW*/
.collage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 2vh;
}

.collage img {
    width: 100%;
    height: 100%;
}

.exp-container {
    display: flex;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    margin-bottom: 3vh;
    margin-top: 7vh;
    gap: 5%;
}

@media (max-width: 600px) {
    .exp-container {
        display: block;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        align-items: flex-start;
        margin-bottom: 3vh;
        margin-top: 0%;
        gap: 5%;
    }
}

.container-left {
    width: 55%;
}

@media (max-width: 600px) {
    .container-left {
        width: 100%;
    }
}

.container-right {
    width: 40%;
}

@media (max-width: 600px) {
    .container-right {
        width: 100%;
        margin-top: 5%;
    }
}

.para-container {
    width: 100%;
}

.para-container h1 {
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 1.8rem;
    margin-bottom: 1vh;
}

.para-container h2 {
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 1.1rem;
    margin-bottom: 1vh;
}

.para-container p {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 1rem;
    margin-bottom: 1vh;
}

.iframe-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.iframe-container iframe {
    width: 560px;
    height: 315px;
    border-radius: 30px;
    overflow: hidden;
}

.exp-container-end {
    display: flex;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 5%;
}

@media (max-width: 600px) {
    .exp-container-end {
        display: block;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        align-items: flex-start;
        gap: 5%;
    }
}

.end-left {
    display: inline-block;
    width: 50%;
}

@media (max-width: 600px) {
    .end-left {
        width: 100%;
    }
}

.end-right {
    display: inline-block;
    width: 45%;
    margin-top: 1vh;
}

@media (max-width: 600px) {
    .end-right {
        width: 100%;
        margin-top: 5%;
    }
}

.end-right h2 {
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 1.1rem;
    margin-bottom: 1vh;
}

.end-left ul {
    padding-left: 20px;
}

.end-left li {
    padding: 1% 0%;
}

.end-left li span {
    position: relative;
    left: -3px;
}

.end-right p {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 1rem;
    margin-bottom: 1vh;
}

.skills-container {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(145, 145, 145);
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.button-container {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.button-container img {
    width: 25px;
    height: auto;
    border-radius: 10px;
    margin-right: 3px;
}

.button-container a {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(145, 145, 145);
    padding: 2%;
    transition: 0.2s;
    margin-right: 3%;
    display: flex;
    align-items: center;
}

.button-container a:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
/*PHANTOM MATERNAL, DEPTH, KINGS MEADOW*/

/*HCI*/
.exp-container-2 {
    display: flex;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    margin-bottom: 3vh;
    margin-top: 3vh;
    gap: 5%;
}

@media (max-width: 600px) {
    .exp-container-2 {
        display: block;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        align-items: flex-start;
        margin-bottom: 3vh;
        margin-top: 0%;
        gap: 5%;
    }
}

.skills-container h2 {
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 1.1rem;
    margin-bottom: 1vh;
}

.skills-container li {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 1rem;
    margin-bottom: 1vh;
    padding: 1% 0%;

}

.skills-container li span {
    position: relative;
    left: -3px;
}

.skills-container ul {
    padding-left: 20px;
}

.button-container-2 {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.button-container-2 img {
    width: 25px;
    height: auto;
    border-radius: 10px;
    margin-right: 3px;
}

.button-container-2 a {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(145, 145, 145);
    padding: 1%;
    transition: 0.2s;
    margin-right: 3%;
    display: flex;
    align-items: center;
}

.button-container-2 a:hover {
    box-shadow: 0px 0px 10px rgb(145, 145, 145);
}

/*HCI*/

/*ACADEMIC PAPERS*/
.exp-container-3 {
    display: flex;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    margin-bottom: 3vh;
    margin-top: 3vh;
    gap: 5%;
}

@media (max-width: 600px) {
    .exp-container-3 {
        display: block;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        align-items: flex-start;
        margin-bottom: 3vh;
        margin-top: 0%;
        gap: 5%;
    }
}

.container-left-2 h1 {
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 1.8rem;
    margin-bottom: 1vh;
}

.container-left-2 {
    width: 60%;
}

@media (max-width: 600px) {
    .container-left-2 {
        width: 100%;
    }
}

.container-right-2 {
    width: 35%;
    margin-top: 3%;
}

@media (max-width: 600px) {
    .container-right-2 {
        width: 100%;
    }
}

.apaper-grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 1%;
    align-items: start;
    margin-top: 3vh;
}

@media (max-width: 600px) {
    .apaper-grid-container {
        display: grid;
        grid-template-columns: 15% 80%;
        gap: 5%;
        align-items: start;
        margin-bottom: 15%;
    }
}

.paper-exp {
    width: 100%;
    text-align: left;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5%;
}

.paper-exp p {
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    margin-left: 2%;
    font-size: 1rem;
}

.paper-exp h2 {
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 1.1rem;
}

.paper-exp {
    text-align: left;
    align-items: flex-start;
}

.button-container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    width: 100%;
    box-sizing: border-box;
}

.button-container-3 img {
    width: 25px;
    height: auto;
    border-radius: 10px;
    margin-right: 3px;
}

.button-container-3 a {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(145, 145, 145);
    padding: 5%;
    transition: 0.2s;
    margin-right: 3%;
    display: flex;
    align-items: center;
}

.button-container-3 a:hover {
    box-shadow: 0px 0px 10px rgb(145, 145, 145);
}

/*ACADEMIC PAPERS*/

/*CONTACT*/
.contact-container {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.contact-body {
    width: 60%;
}

.icon-container {
    width: 100%;
}

@media (max-width: 600px) {
    .icon-container {
        width: 100%;
        margin-top: 20%;
    }
}

.contact-icons {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
}

.contact-title {
    color: rgb(255, 255, 255);
    font-family: Syne;
    font-size: 1.7rem;
    margin-bottom: 1vh;
}

.contact-details {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 1.1rem;
}

.contact-details a {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 1.1rem;
    text-decoration: underline;
}

.contact-icons img {
    width: 60px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.2s;
}

.contact-icons img:hover {
    box-shadow: 0px 0px 10px rgb(145, 145, 145);
}

.link-item {
    display: inline-block;
    padding: 4vw;
}

.link-item p {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 0.9rem;
    text-align: center;
}

.link-item a {
    text-decoration: none;
}

.contact-para {
    color: rgb(255, 255, 255);
    font-family: NunitoReg;
    font-size: 1.1rem;
    margin-top: 3vh;
}

/*CONTACT*/