@font-face {
    font-family: Tuwir;
    src: url(../CSS/Assets/Tuwir.ttf);
}

@font-face {
    font-family: NunitoReg;
    src: url(../CSS/Assets/Nunito-regular.ttf);
}

/*UNIVERSAL*/
* {
    margin: 0px 0px;
    padding: 0px 0px;
}

header {
    padding: 15vh;
}

.body {
    background-color: rgb(255, 255, 255);
    padding: 0px 3vw;
}

#logo {
    width: 50%;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu ul {
    list-style-type: none;
    padding: 0;
    top: 15vh;
    position: relative;
    text-align: center;
}

.menu li {
    display: inline-block;
}

.menu a {
    padding: 2vw;
    text-decoration: none;
    color: black;
    font-family: Tuwir;
    font-size: 1.2rem;
    transition: 0.05s;
}

.menu ul a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
/*UNIVERSAL*/

/*INDEX*/

/*INDEX*/

/*DIGITAL GALLERY*/
.page {
    position: absolute;
}

.gallery-para {
    color: white;
    font-family: NunitoReg;
    font-size: 1rem;
    margin-top: 5vh;
    width: 40vw;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 5%;
}

.whisper-cont,
.heroic-cont {
    width: 20vw;
    height: 58vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-right: 3vw;
}

.maverick-cont {
    width: 30vw;
    height: 44vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#whisper,
#heroic {
    width: 100%;
    height: 100%;
}

#maverick {
    width: 100%;
    height: 100%;
}

.whisper-capt,
.heroic-capt,
.maverick-capt {
    color: white;
    font-family: NunitoReg;
    font-size: 1rem;
    display: flex;
    margin-top: 3%;
}
/*DIGITAL GALLERY*/

/*PROJECTS*/
.projects-text {
    color: white;
    font-family: NunitoReg;
    font-size: 1rem;
    margin-top: 5vh;
}

.website-button,
.d-button,
.ui-button,
.uxbutton {
    font-size: 2vh;
}

/*PROJECTS*/

/*CONTACT*/
.contact-title {
    color: white;
    font-family: Tuwir;
    font-size: 1.5rem;
    margin-bottom: 1%;
    margin-top: 10vh;
}

.contact-para {
    color: white;
    font-family: NunitoReg;
    font-size: 1rem;
}

/*CONTACT*/

/*PROJECTS WEBSITES*/
.web-exp {
    color: white;
    font-family: NunitoReg;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.back-button {
    color: white;
    font-family: NunitoReg;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-decoration: underline;
    margin-top: 2vh;
}

.back-button:hover {
    color: grey;
    animation-delay: 0.5s;
}

.bb-link {
    text-decoration: none;
}

/*PROJECTS WEBSITES*/

/*PROJECTS 3D*/
.mpie-video {
    size: 10%;
    position: absolute;

}